SP_NUM_AIS 0
ZONE_HEIGHT 1
ZONE_SEGMENTS 20
ZONE_SEG_LENGTH 1
SIZE_FACTOR 0
CYCLE_WALL_TIME 999
WALLS_LENGTH 1
CYCLE_ACCEL_OFFSET .00999999
CYCLE_DELAY .0009
CYCLE_SPEED_DECAY_ABOVE .2
CYCLE_BRAKE_REFILL 1
CYCLE_RUBBER 100
CYCLE_ACCEL 0
CYCLE_ACCEL_ENEMY 0
CYCLE_ACCEL_SLINGSHOT 0
CYCLE_RUBBER_MINDISTANCE 0
CYCLE_BRAKE 50
CYCLE_RUBBER_TIME 5
CYCLE_RUBBER_LEGACY 0
CYCLE_RUBBER_MINDISTANCE .0009999
CYCLE_SPEED_DECAY_BELOW .2
CYCLE_SPEED_MIN 0
CYCLE_SPEED 125
#CAMERA_FORBID_CUSTOM 1
#CAMERA_FORBID_FOLLOW 1
#CAMERA_FORBID_FREE 1
#CAMERA_FORBID_IN 1
#CAMERA_FORBID_SERVER_CUSTOM 0
#CAMERA_FORBID_SMART 1
#CAMERA_FORBID_MER 1

CAMERA_FORBID_CUSTOM 0
CAMERA_FORBID_FOLLOW 0
CAMERA_FORBID_FREE 0
CAMERA_FORBID_IN 0
CAMERA_FORBID_SERVER_CUSTOM 0
CAMERA_FORBID_SMART 0
CAMERA_FORBID_MER 0

WALLS_LENGTH 1e-03
SP_WALLS_LENGTH 1e-03

CYCLE_FIRST_SPAWN_PROTECTION 1
CYCLE_WALL_TIME 100000000

#stuff that doesn't matter if the client doesn't support
CYCLE_FIRST_SPAWN_PROTECTION_OVERRIDE 0
CYCLE_WALL_TIME_OVERRIDE 0
CYCLE_ACCEL_TEAM_OVERRIDE 0
CYCLE_ACCEL_ENEMY_OVERRIDE 0


SIZE_FACTOR 0
SP_SIZE_FACTOR 0

EXPLOSION_RADIUS 0
SP_EXPLOSION_RADIUS 0

WAIT_FOR_EXTERNAL_SCRIPT 1

FINISH_TYPE 2
SP_FINISH_TYPE 2
GAME_TYPE 0
SP_GAME_TYPE 0

SCORE_KILL 0
SCORE_DIE 0
SCORE_SUICIDE 0
SCORE_DEATHZONE 0
SCORE_RUBBERZONE 0
SCORE_WIN 0
SP_SCORE_WIN 0

CYCLE_ACCEL 0
CYCLE_ACCEL_ENEMY 0
CYCLE_ACCEL_OFFSET 0.01
CYCLE_ACCEL_SLINGSHOT 0
CYCLE_ACCEL_TEAM 0
CYCLE_BRAKE 50
CYCLE_DELAY 0.0001
CYCLE_RUBBER 100
CYCLE_RUBBER_TIME 5
CYCLE_RUBBER_LEGACY 0
CYCLE_SPEED 125
CYCLE_START_SPEED 20
CYCLE_SPEED_DECAY_ABOVE 0.2
CYCLE_SPEED_DECAY_BELOW 0.2
CYCLE_SPEED_MIN 0
CYCLE_BRAKE_DEPLETE 0
CYCLE_BRAKE_REFILL 1000000

CYCLE_SOUND_SPEED 40

COLOR_DEATHZONE_RED 15
COLOR_DEATHZONE_GREEN 0
COLOR_DEATHZONE_BLUE 0

DEATHZONE_RANDOM_COLORS 1

COLOR_WINZONE_RED 0
COLOR_WINZONE_GREEN 15
COLOR_WINZONE_BLUE 0

TARGETZONE_COLOR_R 0
TARGETZONE_COLOR_G 15
TARGETZONE_COLOR_B 0

COLOR_RUBBERZONE_RED 15
COLOR_RUBBERZONE_GREEN 10.5
COLOR_RUBBERZONE_BLUE 3

COLOR_TELEPORTZONE_RED   0
COLOR_TELEPORTZONE_GREEN 15
COLOR_TELEPORTZONE_BLUE  15

DEATHZONE_RANDOM_COLORS 0
SWAP_WINZONE_DEATHZONE_COLORS 0

ZONE_NO_FADE_IN_SERVER 1
ZONE_ALPHA_SERVER 1


WINZONE_PLAYER_WIN 0

LIMIT_ROUNDS 2147483646
LIMIT_SCORE 2147483646
LIMIT_TIME 35791394
SP_LIMIT_ROUNDS 2147483646
SP_LIMIT_SCORE 2147483646
SP_LIMIT_TIME 35791394

#DEDICATED_IDLE 0.5

TEAM_MAX_PLAYERS 1

LADDERLOG_GAME_TIME_INTERVAL 1
PLAYER_GRIDPOS_ON_TURN 1
WIN_ZONE_MIN_ROUND_TIME 1000000000000
SP_WIN_ZONE_MIN_ROUND_TIME 1000000000000

SPAM_MAXLEN 250
PREFIX_SPAM_ENABLE 1
PREFIX_SPAM_NUMBER_COLOR_CODES_MULTIPLIER 0
SPAM_PROTECTION_REPEAT 20

RESOURCE_REPOSITORY_SERVER http://www.armanelgtron.tk/armagetronad/resource/

SP_MIN_PLAYERS 0
SP_NUM_AIS 0

DISPLAY_MAP_DETAILS 1
DISPLAY_MAP_AXES 1
DISPLAY_MAP_NAME 0
DISPLAY_MAP_AUTHOR 0
DISPLAY_MAP_VERSION 0

#DISPLAY_ was changed to SHOW_
SHOW_MAP_DETAILS 1
SHOW_MAP_CREATION 0
SHOW_MAP_AXES 1

TARGET_SCORE_DEPLETE 0
TARGET_INITIAL_SCORE 0
TARGET_DECLARE_WINNER 0
TARGET_LIFETIME -1
TARGET_SURVIVE_TIME -1
WINZONE_PLAYER_ENTER_WIN 0

FORTRESS_CONQUEST_RATE 0

LADDER_HIGHSCORE_OUTPUT 0

CHATBOT_RANGE 0
CHATBOT_CONTROLLED_BY_SERVER 1
CYCLE_ZONES_AVOID 0

CYCLE_ZONES_APPROCH 0
ZONE_GRIDPOS_INTERVAL -1

INTERCEPT_UNKNOWN_COMMANDS 1

CAMERA_SERVER_CUSTOM_RISE 20
CAMERA_SERVER_CUSTOM_RISE_FROMSPEED 0
CAMERA_SERVER_CUSTOM_BACK 30
CAMERA_SERVER_CUSTOM_BACK_FROMSPEED 0
CAMERA_SERVER_CUSTOM_PITCH -0.7
CAMERA_SERVER_CUSTOM_TURN_SPEED -1
CAMERA_SERVER_CUSTOM_TURN_SPEED_180 4

INCLUDE racing/everytime.cfg
DEDICATED_IDLE 0
